@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Button styles */
.btn {
  animation: pulse 1s infinite alternate;
}
.wongame{
 @apply bg-red-700 text-xs font-bold sm:text-2xl text-white px-1 py-1 sm:px-2 sm:py-2
}
.cardCss{
  @apply  bg-white m-auto text-wrap px-1 sm:px-2 py-1 text-xs sm:text-xl font-semibold font-sans border-8 border-black rounded-tr-xl rounded-bl-xl
}
/* App.css or any global CSS file */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar { /* WebKit browsers */
  width: 0;
  height: 0;
}




